<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="pandora_news_favicon_v1_64x64.png">
    <link rel="icon" type="image/png" sizes="96x96" href="pandora_news_favicon_v1_64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="pandora_news_favicon_v1_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="pandora_news_favicon_v2_16x16.png">
    <link rel="icon" type="image/ico" href="pandora_favicon.ico">
  </head>
  <body>
    <div id="fb-root"></div>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0&appId=2838194026425200&autoLogAppEvents=1" nonce="WblkCtim"></script>
  </body>
</html>
